<h3 class="section-title">Работа</h3>
<dl class="experience">
    <dt>
        <p class="title">Frontend-разработчик</p>
        <p class="company"><a href="https://kinoplan.ru/" target="_blank">Киноплан</a></p>
        <p class="period">Ноябрь 2018 — Апрель 2022 (3 года и 6 месяцев)</p>
    </dt>
    <dd>
        <p>
            Занималась разработкой нового функционала и поддержкой старого. 
            Перевод легаси на современный стек c <b>Backbone</b> на <b>React</b> и с <b>Javascript</b> на <b>TypeScript</b>.
            Разрабатывала новые компоненты для UI библиотеки по предоставленным макетам и обновляла старые.
            Начала писать <b>юнит-тесты</b> и провела доклад внитри компании о видах тестирования и о том как мы можем тестировать свои продукты.
            Узнала что такое <b>Agile</b>, <b>Scram</b> и как по не ним работать.
            Получила опыт работы в команде, стала лучше взаимодействовать с менеджерами, дизайнерами, тестировщиками и бекендерами. 
        </p>
    </dd>
    <dt>
        <p class="title">Верстальщик</p>
        <p class="company"><a href="https://oggetto.ru/" target="_blank">Oggetto</a></p>
        <p class="period">Июнь 2017 — Ноябрь 2017 (6 месяцев)</p>
    </dt>
    <dd>
        <p>
            Познакомилась с <b>Magento/Magento2</b>, начала использовать <b>webpack и less</b>.
            Получила хороший опыт работы в команде. Вместе с командой сделали и запустили с нуля 3 крупных интернет магазина.
            Сверстала несколько десятков писем для каждого из них. 
            Также занималась поддержкой существующих сайтов.
        </p>
    </dd>

    <dt>
        <p class="title">Верстальщик</p>
        <p class="company"><a href="https://webrost.ru/" target="_blank">ВебРост, Веб-студия</a></p>
        <p class="period">Март 2016 — Февраль 2017 (1 год)</p>
    </dt>
    <dd>
        <p>Начала автоматизировать часть работы. Познакомилась и начала использовать в работе <b>БЭМ, scss, gulp</b>.
        Сверстала с нуля несколько лендингов, интернет магазинов и множество посадочных страниц и отдельных блоков.
        Из них <a href="https://aty-baty.ru/" target="_blank">Аты-баты</a>,
        <a href="https://petryaeva.github.io/ZK-Central/" target="_blank">ЖК Центральный</a>,
        <a href="http://www.rezonfor.ru/" target="_blank">Магазин светотехники</a> и др.
        Получила еще немного опыта работы с <b>1С-Битрикс, WordPress, Joomla</b>.
        Некоторые примеры работ можно посмотреть в <a href="https://petryaeva.github.io/epetryaeva-old-portfolio/" target="_blank">старом портфолио</a></p>
    </dd>

    <dt>
        <p class="title">Веб-программист</p>
        <p class="company"><a href="http://gendalf.ru" target="_blank">ГК Гэндальф</a></p>
        <p class="period">Июнь 2015 — Ноябрь 2015 (7 месяцев)</p>
    </dt>
    <dd>
        <p>Начала работать с <b>1С-Битрикс</b>, прошла несколько курсов, получила сертификаты.
        Сделала электронную версию газеты <a href="https://gendalf.ru/pb/" target="_blank">«Прогрессивный бухгалтер»</a>.
        Сверстала несколько посадочных страниц и множество отдельных блоков.
        Занималась техподдержкой текущих проектов (gendalf.ru, 1c-gendalf.ru, rnd.scan-archive.ru), научилась верстать email-письма.</p>
    </dd>

    <dt>
        <p class="title">Контент-менеджер</p>
        <p class="company"><a href="http://club-sale.ru" target="_blank">Контент-маркет</a></p>
        <p class="period">Май 2014 — Октябрь 2014 (5 месяцев)</p>
    </dt>
    <dd>
        <p>Занималась наполнением сайта контентом, искала подходящие фотографии для товаров,
        обрабатывала их в photoshop, придумывала описание, добаляла микроразметку и метатеги.
        Около месяца замещала дизайнера, делала банеры и кнопочки. Научилась работать в фотошопе и сверхурочно.</p>
    </dd>
</dl>

<h3 class="section-title">Образование</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt>
        <dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
