<h3 class="section-title">Работа</h3>
<dl class="experience">
    <dt>
        <p class="title">Frontend-разработчик</p>
        <p class="company"><a href="https://kinoplan.ru/" target="_blank">Киноплан</a></p>
        <p class="period">Ноябрь 2018 — текущее время</p>
    </dt>
    <dd>
        <p>
            Занималась разработкой нового функционала и поддержкой старого. Перевод легаси с <b>Backbone</b> на <b>React</b> и с <b>Javascript</b> на <b>TypeScript</b>.</br>
            Разрабатывала новые компоненты для UI библиотеки по предоставленным макетам и обновляла устаревшие.</br>
            Начала писать <b>юнит-тесты</b> и провела внутренний доклад в компании о различных типах тестирования, делясь полезными практиками.</br>
            Работала с <b>webpack</b>, занимаясь созданием и обновлением конфигураций, а также оптимизацией веб-приложений.</br>
            Приобрела ценный опыт работы в команде.
        </p>
    </dd>
    <dt>
        <p class="title">Верстальщик</p>
        <p class="company"><a href="https://oggetto.ru/" target="_blank">Oggetto</a></p>
        <p class="period">Июнь 2017 — Ноябрь 2017 (6 месяцев)</p>
    </dt>
    <dd>
         <p>
            Познакомилась с <b>Magento/Magento2</b> и начала активно использовать <b>webpack</b> и <b>LESS</b>.</br>
            Приобрела ценный опыт работы в команде, в рамках которой мы разработали и запустили три крупных интернет-магазина с нуля.</br>
            Сверстала несколько десятков email-шаблонов для этих проектов.</br>
            Также занималась поддержкой и доработкой существующих сайтов, обеспечивая стабильность их работы и обновление контента.</br>
        </p>
    </dd>

    <dt>
        <p class="title">Верстальщик</p>
        <p class="company"><a href="https://webrost.ru/" target="_blank">ВебРост, Веб-студия</a></p>
        <p class="period">Март 2016 — Февраль 2017 (1 год)</p>
    </dt>
    <dd>
        <p>
            Автоматизировала ряд рабочих процессов и приобрела навыки работы с <b>БЭМ</b>, <b>SCSS</b> и <b>Gulp</b>.</br>
            Сверстала с нуля несколько лендингов, интернет-магазинов и множество посадочных страниц и отдельных блоков.</br>
            К числу успешных проектов относятся: <a href="https://aty-baty.ru/" target="_blank">Аты-баты</a>,
            <a href="https://petryaeva.github.io/ZK-Central/" target="_blank">ЖК Центральный</a> и 
            <a href="http://www.rezonfor.ru/" target="_blank">интернет-магазин светотехники</a>.</br>
            Также получила опыт работы с <b>1С-Битрикс</b>, <b>WordPress</b> и <b>Joomla</b>.</br>
            Некоторые примеры работ можно увидеть в <a href="https://petryaeva.github.io/epetryaeva-old-portfolio/" target="_blank">старом портфолио</a>.
        </p>
    </dd>

    <dt>
        <p class="title">Веб-программист</p>
        <p class="company"><a href="http://gendalf.ru" target="_blank">ГК Гэндальф</a></p>
        <p class="period">Июнь 2015 — Ноябрь 2015 (7 месяцев)</p>
    </dt>
    <dd>
         <p>
            Начала работать с <b>1С-Битрикс</b>, прошла несколько курсов и получила сертификаты.</br>
            Создала электронную версию газеты <a href="https://gendalf.ru/pb/" target="_blank">«Прогрессивный бухгалтер»</a> и сверстала несколько посадочных страниц, а также множество отдельных блоков.</br>
            Занималась техподдержкой текущих проектов (gendalf.ru, 1c-gendalf.ru, rnd.scan-archive.ru) и научилась верстать email-письма.
        </p>
    </dd>

    <dt>
        <p class="title">Контент-менеджер</p>
        <p class="company"><a href="http://club-sale.ru" target="_blank">Контент-маркет</a></p>
        <p class="period">Май 2014 — Октябрь 2014 (5 месяцев)</p>
    </dt>
    <dd>
        <p>
            Занималась наполнением сайта контентом и подбором подходящих фотографий для товаров, обрабатывала их в <b>Photoshop</b> и писала описания. </br>
            Добавляла микроразметку и метатеги для оптимизации поисковой выдачи. </br>
            В течение нескольких месяцев замещала дизайнера, занимаясь созданием рекламных баннеров и обработкой изображений.
        </p>
    </dd>
</dl>

<h3 class="section-title">Образование</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt>
        <dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
