<h3 class="section-title">Работа</h3>
<dl class="experience">
    <dt>
        <p class="title">Верстальщик</p>
        <p class="company">Oggetto</p>
        <p class="period">Июнь 2017 — ноябрь 2017</p>
    </dt>
    <dd>
        <p>Познакомилась с Magento/Magento2, начала использовать webpack и less.
        Получила хороший опыт работы в команде. Удалось поработать над проектами <a href="https://shuuemura.ru" target="_blank">Suuemura</a>
        и <a href="https://www.befree.ru/" target="_blank">Befree</a>. И конечно же верстка писем.
        <!-- , например,  (делала страницу товара, личный кабинет,
        все статические страницы и email письма) https://shuuemura.ru/cleansing-oils https://befree.ru
        (занималась статическими страницами, например доставка https://www.befree.ru/delivery о компании
        https://www.befree.ru/melon-fashion-g... и др.) -->
      </p>
    </dd>

    <dt>
        <p class="title">Верстальщик</p>
        <p class="company">ВебРост, Веб-студия</p>
        <p class="period">Март 2016 — февраль 2017</p>
    </dt>
    <dd>
        <p>Начала автоматизировать часть работы. Познакомилась и начала использовать в работе БЭМ, scss, gulp.
        Сверстала с нуля несколько лендингов, интернет магазинов и множество посадочных страниц и отдельных блоков.
        Из них <a href="https://aty-baty.ru/" target="_blank">Аты-баты</a>,
        <a href="https://petryaeva.github.io/ZK-Central/" target="_blank">ЖК Центральный</a>,
        <a href="http://www.rezonfor.ru/" target="_blank">Магазин светотехники</a> и др.
        Получила еще немного опыта работы с 1С-Битрикс, WordPress, Joomla.
        Некоторые примеры работ можно посмотреть в <a href="https://petryaeva.github.io/" target="_blank">старом портфолио</a></p>
    </dd>

    <dt>
        <p class="title">Веб-программист</p>
        <p class="company"><a href="http://gendalf.ru" target="_blank">ГК Гэндальф</a></p>
        <p class="period">Июнь 2015 — ноябрь 2015</p>
    </dt>
    <dd>
        <p>Начала работать с 1С-Битрикс, прошла несколько курсов, получила сертификаты.
        Сделала электронную версию газеты <a href="https://gendalf.ru/pb/" target="_blank">«Прогрессивный бухгалтер»</a>.
        Сверстала несколько посадочных страниц и множество отдельных блоков.
        Занималась техподдержкой текущих проектов (gendalf.ru, 1c-gendalf.ru, rnd.scan-archive.ru), научилась верстать email-письма.</p>
    </dd>

    <dt>
        <p class="title">Контент-менеджер</p>
        <p class="company"><a href="http://club-sale.ru" target="_blank">Контент-маркет</a></p>
        <p class="period">Май 2014 — октябрь 2014</p>
    </dt>
    <dd>
        <p>занималась наполнением сайта контентом, искала подходящие фотографии для товаров,
        обрабатывала их в photoshop, придумывала описание, добаляла микроразметку и метатеги.
        Около месяца замещала дизайнера, делала банеры и кнопочки. Научилась работать в фотошопе и сверхурочно.</p>
    </dd>
</dl>

<h3 class="section-title">Образование</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
