<ul class="social-media-list">
  {%- if site.github_username -%}
    <li>
      <a href="http://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank">GitHub</a>
    </li>
  {%- endif -%}
  {%- if site.codepen -%}
    <li>
      <a href="https://codepen.io/{{ site.codepen| escape }}" target="_blank">Codepen</a>
    </li>
  {%- endif -%}
  {%- if site.telegram -%}
    <li>
      <a href="https://telegram.me/petrek" target="_blank">Telegram</a> 
    </li>
  {%- endif -%}
  {%- if site.headhunter -%}
    <li>
      <a href="https://rostov.hh.ru/resume/{{ site.headhunter| escape }}" target="_blank">HeadHunter</a>
    </li>
  {%- endif -%}
  {%- if site.linkedin -%}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin| cgi_escape | escape }}" target="_blank">LinkedIn</a>
    </li>
  {%- endif -%}
</ul>
